
.hide-icon {
  text-indent:-9999em !important;
  display:none !important;
}

.back-to-top {
  position: fixed !important;
  bottom: 1em !important;
  right: 20px;
  text-decoration: none;
  color: $color-blue;
  font-size: 42px;
  z-index: 3000;
  cursor: pointer;
    @include respond-to(small){
        display: none!important;
    }
}


.btn-nav{
    cursor: pointer;
}



 