@keyframes grow{
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate(0, 20px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(-70px, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(70px, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes paperUp {
  0% {
    opacity: 0;
    transform: rotate(5deg) translate(0, 100px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/*Apparition au scroll*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*Rebond*/
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    opacity: 0.25;
    transform: translateY(0px);
  }
  40% {
    opacity: 0.50;
    transform: translateY(-25px);
  }
  60% {
    opacity: 0.75;
    transform: translateY(0px);
  }
  80% {
    opacity: 0.90;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}