%flex-align-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @include respond-to('medium'){
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


%shadow-light{
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.21);
}