header{
    .menu{
        display: flex;
        justify-content: flex-end;
        nav ul{
            display: flex;
            li{
                list-style-type: none;
                &:first-child{
                    margin-right: 20px;
                }
                a{
                    color: $color-grey;
                    text-decoration: none;
                    font-weight: bold;
                    color: $color-white;
                    font-size: 18px;
                    position: relative;
                    transition: 0.2s all ease-in;
                    &.active{
                        color: $color-blue;
                        &::after{
                            content: "";
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                            bottom: -15px;
                            background-color: $color-blue;
                            height: 1px;
                            width: 75%;
                        }
                        &:hover::after{
                            animation: none;
                        }
                    }
                    &:hover{
                        color: $color-blue;
                    }
                    &:hover::after{
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        bottom: -15px;
                        background-color: $color-blue;
                        height: 1px;
                        animation: 0.5s linear forwards grow;
                    }
                }
            }
        }
    }
}