header{
    height: 100vh;
        .bg-header{
            position: relative;
            z-index: 20;
            height: 100%;
            background-image: url(/images/home/banner.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .header-infos{
            margin : 200px 0;
            animation: 1.5s linear forwards bounce;
            @include respond-to("medium"){
                margin: 65px 0;
            }
            @include respond-to("small"){
                margin: 40px 0;
            }
        }

        .menu{
            display: flex;
            justify-content: flex-end;
            nav ul{
                display: flex;
                li{
                    list-style-type: none;
                    &:first-child{
                        margin-right: 20px;
                    }
                    a{
                        color: $color-grey;
                        text-decoration: none;
                        font-weight: bold;
                        color: $color-white;
                        font-size: 18px;
                        position: relative;
                        @include transition(0.5s);
                        &.active{
                            color: $color-blue;
                            &::after{
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translate(-50%, 0);
                                bottom: -15px;
                                background-color: $color-blue;
                                height: 1px;
                                width: 75%;
                            }
                            &:hover::after{
                                animation: none;
                            }
                        }
                        &:hover{
                            color: $color-blue;
                        }
                        &:hover::after{
                            content: "";
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                            bottom: -15px;
                            background-color: $color-blue;
                            height: 1px;
                            animation: 0.5s linear forwards grow;
                        }
                    }
                }
            }
        }

        .icons-container{
            display: flex;
            justify-content: center;
            animation: 0.8s linear forwards fadeUp;
            @include respond-to("xs"){
                margin-top: 60px;
            }
            .col-lg-3{
                text-align: center;
                i{
                    color: $color-blue;
                    font-size: 5em;
                    @include respond-to("small"){
                        font-size: 3.5em;
                    }
                    @include respond-to("xs"){
                        font-size: 3em;
                    }
                }
                h3{
                    font-size: 20px;
                    color: $color-white;
                    line-height: 1.3em;
                    @include respond-to("small"){
                        font-size: 16px;
                    }
                    @include respond-to("small"){
                        font-size: 14px;
                    }
                }
            }
        }

        
}