.about-section{
    background-image: url(/images/home/abstrait-about-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    .col-lg-7{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translate(0, -50%);
            width: 2px;
            height: 100%;
            background-color: $color-blue;
        }
        p span{
            font-weight: bold;
        }
    }
    .col-lg-5{
       p span{
            font-weight: bold;
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        .btn{
            margin-right: 30px;
        }
    }
}

.skills-section{
    h3{
        display: inline-block;
        color: $color-white;
        background-color: $color-blue;
        padding: 6px 42px;
        margin: 0;
        i{
            font-size: 0.8em;
            margin-left: 5px;
        }
    }
    .skills-container{
        background-color: $color-white;
        display: flex;
        margin-bottom: 50px;
        padding: 10px 0;
        position: relative;
        .skills-content{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 15px;
            justify-content: space-between;
            .grades{
                i{
                    color: $color-blue;
                }
            }
        }
    }
}