.about-section{
    background-image: url(/images/home/abstrait-about-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    .col-lg-8{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(0, -50%);
            width: 2px;
            height: 100%;
            background-color: $color-blue;
        }
        p span{
            font-weight: bold;
        }
    }
    .col-lg-4{
       p span{
            font-weight: bold;
        }
    }
}

.skills-section{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 250px;
        top: 100px;
        background-image: url(/images/home/pencil.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 250px;
        width: 250px;

    }
    h3{
        display: inline-block;
        color: $color-white;
        background-color: $color-blue;
        padding: 6px 42px;
        margin: 0;
        i{
            font-size: 0.8em;
            margin-left: 5px;
        }
    }
    .skills-container{
        background-color: $color-white;
        display: flex;
        margin-bottom: 50px;
        .skills-content{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 15px;
            justify-content: space-between;
            .grades{
                i{
                    color: $color-blue;
                }
            }
        }
    }
}