.projects-page{
    .projects-container{
        .projects-row{
            margin-bottom: 30px;
        }
        .card-container {
            width: 100%;
            height: 216px;
            perspective: 1000px;
            overflow: hidden;
            margin-bottom: 30px;
           
            &:hover{
                .infos-card{
                    top: 0;
                }
            }
            .card-content{
                h4{
                    color: $color-white;
                    text-transform: uppercase;
                    padding-bottom: 0;
                    font-size: 16px!important;
                    margin: 15px 0!important;
                    @include respond-to("medium"){
                        margin-bottom: 20px;
                    }
                }
                a{
                    
                    img{
                        background-color: $color-blue;
                        padding: 2px!important;
                        border-radius: 50%;
                        position: relative;
                        width: 34px;
                    }
                }
                p.description-container{
                    font-size: 13px;
                    margin-top: 15px;
                }
            }
            .front-card{
                img{
                    max-width: 100%;
                }
            }
            .infos-card{
                position: absolute;
                top: 216px;
                left: 0;
                width: 100%;
                height: 100%;
                transform: unset;
                transition: all 0.5s ease-in;
                background-color: #000000ad;
                text-align: center;
                @include respond-to("medium"){
                    top: 0;
                }
                
                
                p{
                    color: $color-white;
                    margin: 0;
                }
                p.dev-tools{
                    position: absolute;
                    left: 0;
                    margin: 0;
                    bottom: 0;
                    padding: 10px;
                    font-weight: bold;
                    background: $color-white;
                    color: $color-grey;
                }
            }
        }
    }
}