body {  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clearer {
  clear:both !important;
}
img{
  max-width: 100%;
}
.no-padding {
  padding:0px !important;
}
.big-padding{
    
    padding: 50px 15px;
    @include respond-to(small){
        padding: 20px 15px;
    }
}
.hide-icon {
  text-indent:-9999em !important;
  display:none !important;
}

.back-to-top:hover {
	opacity: 0.5;
}
.txt-center{
  text-align: center;
}

.btn-nav{
    cursor: pointer;
}



 